.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cast_List_Item {
  max-width: 200px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border: solid 2px rgb(91, 173, 218);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    margin-left: 0px;
  }
}
