.backLink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(41, 121, 38, 0.756);
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: #40c3b8;
    transform: scale(0.95);
  }
}
